{% extends 'base.html.twig' %}

{% block title %}Thé Tiptop{% endblock %}

{% block stylesheets %}
    

{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="topSideBar">
  <div class="container">
    <a class="navbar-brand" href="/admin">Thé TipTop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/employe">Gestion des gains</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users" >Liste des participants</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="/admin/employes" >Liste des employés</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/groslot">Le gros lot</a>
            </li>
            
      </ul>
      <form class="d-flex">
      <ul class="navbar-nav me-auto">
       <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/profil">Mon profil</a>
            </li>
        <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/logout">Déconnexion</a>
            </li>
            </ul>
      </form>
    </div>
  </div>  
</nav>



<br><br>


  <center>   <h1>Liste des employés</h1>  <a href="/admin/addemploye" class="btn btn-success">Ajouter un employé</a></center>
<br> <hr>
{% for message in app.session.flashbag.get('success') %}
<div class="row justify-content-center">
<div class="alert alert-dismissible alert-success col-8 ">
  <h4 class="alert-heading"> {{ message }}</h4>
</div>
</div>
<br>
<br>
{% endfor %}



 <br>

 <div class="container">
 <div class="col-md-12 col-sm-3">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Pays</th>

            </tr>
        </thead>
        <tbody>

        

        {% for user in users %}
            <tr>
            
            {% if user.roles[0]== "ROLE_EMPLOYE" %}
                <td>{{ user.surname }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
               <td>{{ user.address }}</td>
                <td>{{ user.city }} </td>
                <td>{{ user.country }} </td>
                <td>
                   <a onclick="return confirm('Vouler vraiment supprimer ce compte !')" class="btn btn-danger" href="{{path('employetouser', { 'id': user.id })}}" >Supprimer</a>

                </td>
            
              
            </tr>
            {% endif %}   
        {% endfor %}
        </tbody>
    </table>
    

</div>
</div>




{% endblock %}
